body{
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.App{
  text-align: center;
  margin: 50px auto 0px;
  width: 90%;
  max-width: 700px;
  border-radius: 20px;
  height: 620px;
  padding: 20px 15px;
  background-color: #4545a3bd;
  border-radius: 20%;
}
.searchBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 40px;
  height: 100%;
}
.city-search{
  display: flex;
  justify-content: center;
  width:100%;
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  font-size: larger;
  text-transform: uppercase;
}

.btn{
  height:50px;
 background-color: black;
 border-radius: 20px;
 color: white;
}
.btn:hover{
  color: black;
  height:60px;
 background-color: yellow;
}

.city-name, .name{
  display: flex;
  margin: 0;
}

.temp{
  display: flex;
  font-size: xx-large;
  justify-content: center;
  margin: 20px;
  color: #333;
  background: linear-gradient(110deg, #ffffff, #76b110);
}

.description{
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;}

  .weather-info{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }

  .weather-info div{
  margin: 5px;
  padding: 5px;
  color: #333;
  background: linear-gradient(150deg, #ffffff, #c4d3de);
  border-radius: 30%;
  }